MC_HOST=play.example.com
MC_PORT=25565
MC_VERSION=false
MC_PROFILES_FOLDER=./profiles
API_PORT=6600
INTERNAL_API_URL=http://127.0.0.1:6600
SERVICE_PORT_API=6600
SERVICE_PORT_PG=6610
POSTGRES_DB=order_analytics
POSTGRES_USER=order_analytics
POSTGRES_PASSWORD=order_analytics
SERVICE_DATABASE_URL=postgres://order_analytics:order_analytics@postgres:5432/order_analytics
SCAN_INTERVAL_SECONDS=300
SCAN_SETTLE_MS=1200
SCAN_DELAY_MS=2000
ITEMS=[{"id":"minecraft:redstone_block","query":"redstone block"}]
DATABASE_URL=postgres://order_analytics:order_analytics@127.0.0.1:6610/order_analytics
LOG_LEVEL=info
